.MuiStepIcon-root.MuiStepIcon-active {
    color: palevioletred !important;
}

.MuiStepIcon-root.MuiStepIcon-completed {
    color: palevioletred !important;
}

.taillebottoninput {
    margin-top: 20px!important;
}