.ng {
    background-color: #e7edf5;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: black;
    font-size: large;
}

.dropdown-toggle:hover,
.dropdown-toggle:active {
    background-color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnConnec:hover {
    background-color: palevioletred!important;
}