.ng {
    background-color: papayawhip;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: black;
    font-size: large;
}

.dropdown-toggle:hover,
.dropdown-toggle:active {
    background-color: palevioletred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnConnec:hover {
    background-color: palevioletred!important;
}

@media only screen and (max-width: 600px) {
    body {}
}