@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Stint+Ultra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Stint+Ultra+Condensed&display=swap');
.ppropsAmal {
    font-size: 40px;
    margin-top: 10px;
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 60px;
    color: #f50057;
}

.papropsttxt {
    text-align: center;
    font-size: 30px;
}

.fontdivhomitwork {
    font-size: 80px!important;
    color: #f50057;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-bottom: 20px;
}

.h5howitwork {
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
    margin-left: 20px;
}

.h2Amal {
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 60px;
    color: #f50057;
}

.btnprojet {
    margin-left: 400px;
}

.btnquest {
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
    margin-left: 90px;
    margin-top: 90px;
}

.btnHom {
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
    margin-left: -225px;
    margin-top: 145px;
}

#txtimageh4 {
    position: absolute;
    top: 245px!important;
    margin-left: 30px;
    color: #ff80ab;
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 37px;
}

#reseauh3 {
    position: absolute;
    margin-top: 250px;
    margin-left: 800px;
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 50px;
}

.btncontactez {
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
    margin-left: -285px;
    margin-top: 197px;
}

.btnammal {
    font-family: 'Arvo', serif;
    font-family: 'Stint Ultra Condensed', cursive;
    font-size: 30px;
    margin-left: -110px;
    margin-top: 249px;
}

.card {
    width: 20rem;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253) !important;
}

.card-body {
    padding: 3rem 0 !important;
}

.card-text {
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid.row {
    padding-top: 6rem;
}

.cntndivhowitworks {
    display: flex;
    flex-direction: column;
}

.spanparahowitwork {
    justify-content: center;
}

.cardoussama {
    background-color: #cab818;
}

.fonticondslow {
    width: 300px!important;
    font-size: 40px!important;
    color: #f50057!important;
}

@media only screen and (max-width: 600px) and (min-width: 300px) {
    .ppropsAmal {
        font-size: 20px;
    }
    .footr1howitworks {
        font-size: 15px;
    }
    .papropsttxt {
        text-align: center;
        font-size: 15px;
    }
    .fontdivhomitwork {
        margin-left: 200px!important;
    }
    .cardoussama {
        margin-top: 20px;
    }
}